<header class="flex pt-8 mb-12 md:pt-12 sticky top-0 bg-[--main] z-10">
    <h1 class="font-bold text-4xl py-4 mr-auto">dan.sbs</h1>
    <!-- Desktop Nav -->
    <nav class="hidden sm:flex nav-bar">
        <a href="/">Home</a>
        <a href="/projects/">Projects</a>
        <a href="/posts/">Posts</a>
        <button
            id="theme"
            onclick="toggleTheme()"
            aria-label="Toggle dark mode button"
        >
            <svg
                class="size-8"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#000000"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <circle cx="12" cy="12" r="5" />
                <path
                    d="M12 1v2M12 21v2M4.2 4.2l1.4 1.4M18.4 18.4l1.4 1.4M1 12h2M21 12h2M4.2 19.8l1.4-1.4M18.4 5.6l1.4-1.4"
                />
            </svg>
        </button>
    </nav>
    <!-- Mobile Nav -->
    <nav class="flex items-center sm:hidden">
        <button onclick="toggleMobileNav()" aria-label="Open mobile navigation">
            <svg
                class="size-8"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#000000"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
            </svg>
        </button>
        <div id="mobile-dropdown" class="nav-bar-mobile hidden">
            <a href="/">Home</a>
            <a href="/projects/">Projects</a>
            <a href="/posts/">Posts</a>
            <button
                id="theme"
                onclick="toggleTheme()"
                aria-label="Toggle dark mode button"
            >
                Darkmode?
            </button>
        </div>
    </nav>
</header>
