@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
 * Default page styling
 */
@layer base {
    * {
        box-sizing: border-box;
    }

    html {
        /* Define vars for theme */
        --main: #fbf7f0;
        --alt: #e9e2d8;
        --font: #5a5a5a;
        --highlight: #d9e4dd;

        /* Font styling defaults */
        color: var(--font);
        font-family: Poppins, Arial, sans-serif;
        -webkit-text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;
        -ms-text-size-adjust: 100%;
        -moz-osx-font-smoothing: grayscale;
        font-synthesis: none !important;

        body {
            display: block !important;
            @apply bg-[--main] mx-auto w-10/12 md:w-9/12 lg:w-8/12 max-w-7xl;
        }

        main {
            @apply sm:mx-8;
        }

        /* SVG Icon Styles */
        svg {
            fill: none;
        }

        svg:hover {
            fill: var(--font);
        }

        svg * {
            stroke: var(--font);
        }
    }

    html.dark {
        /* Define vars for theme */
        --main: #1d2021;
        --alt: #161819;
        --font: #ffffff;
    }

    /* Scrollbar style */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--alt);
    }
}

/* 
 * Component specific styling
 */
@layer components {
    /* Navbar styling */
    .nav-bar {
        @apply flex gap-4 items-center text-lg py-4;

        a {
            @apply px-4 py-2 font-medium 2xl:text-xl hover:bg-[--alt] hover:rounded-lg;
        }
    }

    .nav-bar-mobile {
        @apply fixed flex flex-col top-28 right-8 bg-[--alt] p-4 rounded-xl;

        * {
            @apply mx-4 my-2 font-medium hover:opacity-50;
        }
    }

    /* These are the default styles for blog posts */
    .post {
        h1 {
            @apply font-bold text-3xl py-4;
        }

        img {
            @apply rounded-lg mb-4 border-[--font] border-4;
        }
    }
}
